@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700&display=swap');

:root{
    --verde: #cc2e2e;
    --naranja: #5f41f5;
    --degradado:linear-gradient(90deg,var(--naranja),var(--verde));  
}
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
*::selection{
    background: var(--naranja);
    color: white;
}
html{
    font-size: 62.4%;
    overflow-x: hidden;
}
body{
    background: lightyellow;
}
section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}
.btn:hover{
    transform: scale(1.1);
}
.heading{
    text-align: center;
    background: var(--naranja);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    align-content: space-between;
    z-index: 1000;
}
header .logo{
    font-size: 2rem;
    color: var(--naranja);
}
header .logo span{
    color: var(--verde);
}
header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--naranja);
}
header .navbar a:hover{
    color: var(--verde);
}
header input{
    display: none;
}
header label{
    font-size: 3rem;
    color: var(--naranja);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.acerca_de{
    background: url(../../Fondos/Fondo2.webp) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}
.acerca_de .columna{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.acerca_de .columna .image{
    flex: 1 1 40rem;
}
.acerca_de .columna .image img{
    width: 400px;
    height: 500px;
}
.acerca_de .columna .content{
    flex: 1 1 40rem;
}
.acerca_de .columna .content h3{
    font-size: 3rem;
    color: #5f41f5;
}
.acerca_de .columna .content p{
    font-size: 1.5rem;
    color: #5f41f5;
    padding: 1rem 0;
}
.acerca_de .columna .image article {
    position: relative;
    width: 250px;
    transition: all 0.3s ease;
}
.acerca_de .columna .image article img:first-child {
    box-shadow: 0 60px 60px -60x rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}
.acerca_de .columna .image article img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: 0.3s ease;
    opacity: 0;
}
.acerca_de .columna .image  article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}
.acerca_de .columna .image  article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent 10%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all 0.3s ease;
}
.acerca_de .columna .image article:hover::before {
    opacity: 1;
}
.acerca_de .columna .image article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}
.acerca_de .columna .content .buttons a:last-child{
    margin-left: 2rem;
}
.footer{
    padding-top: 3rem;
    background: url(img/footer-fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.footer .caja-contenedor{
    display: flex;
    flex-wrap: wrap;
}
.footer .caja-contenedor .caja{
    flex: 1 1 40rem;
    margin: 2rem;
}
.footer .caja-contenedor .caja h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color:purple;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.footer .caja-contenedor .caja p{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: #5f41f5;
}
.footer .caja-contenedor .caja a{
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: #5f41f5;
}
.footer .caja-contenedor .caja a:hover{
    text-decoration: underline;
}
.footer .caja-contenedor .caja .info{
    display: flex;
    align-items: center;
}
.footer .caja-contenedor .caja .info i{
    margin: .5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: white;
    color: var(--naranja);
    font-size: 1.8rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}
.footer .creditos{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: black;
    border-top: .1rem solid black;
    padding: 2.5rem 1rem;
    text-align: center;
}
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width:990px){
    section{
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}
@media(max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgb(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgb( 0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }
    header input:checked ~ label::before{
        content: '\f00d';
    }
    .acerca_de{
        background-position: right;
    }
}
@media(max-width:450px){
    html{
        font-size: 49%;
    }
    .acerca_de .columna .content .buttons a{
        width: 100%;
        text-align: center;
    }
    .acerca_de .columna .content .buttons a:last-child{
        margin: 1rem 0;
    }
}