*{
    margin: 0;
    padding: 0;
}
body{
    background:darkorchid;
    color: rgb(0, 255, 17);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formulario{
    width: 240px;
    background: #0a0b1e;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input[type = "text"]{
    width: 100%;
    background: none;
    border: 1px solid #123159;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: rgb(174, 174, 172);
}
input[type = "radio"]{
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
input[type = "email"]{
    width: 100%;
    background: none;
    border: 1px solid #123159;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: rgb(174, 174, 172);
}
input[type = "phone"]{
    width: 100%;
    background: none;
    border: 1px solid #123159;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: rgb(174, 174, 172);
}
input[type ="submit"]{
    background: silver;
    width: 100%;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
}
input[type ="submit"]:hover{
    background: white;
    transition: .6s;
}